@media(max-width:1200px){
        .button{
            &_main{
                width: 250px;
            }  
        }
        .promo {
            background-position: left;
        &__header{
            margin-top: 15px;
        }
        &__subheader{
            font-size: 21px;
        }
        &__wrapper{
            display: flex;
            align-items: center;
            }
        } 
        .title_left{
            font-size: 32px;
        }
        .consultation{
          background: position -25px;
       
        &__descr{
            margin-top: 0px
            }
        }
    }
    @media(max-width:768px){
        .title{
           font-size: 25px;     
        }
        .header{
            display: flex; 
            flex-wrap: wrap; 
            justify-content: flex-end;
            flex-direction: column;
            align-items: flex-start;
            &__official{
                text-align: left;
                margin-top: 2px;          
            }
            &__contacts{
                display: block;
                align-items: flex-start;
            }   
        }
        .hamburger{
            display: block;
            position: absolute;
            top: 50%;
            right:2px;
            transform: translateY(-50%);
            width: 26px;
            height: 12px;
            span{
                width: 100%;
                height: 2px;
                background-color: #fff;
                transition: 0.5 all;
            }
        &:active{
            span{
                 &:nth-child(1){
                        transform: translateY(3px) rotate(-45deg);
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        transform: translateY(3px) rotate(45deg);
                    }
                }
            }
        }
        .promo{
            
            &__header{
            font-size: 40px;  
            }
            &__subheader{
            font-size: 20px;
            margin-top: 4px;
            }
        }
        .advantages{
            &__item{
                margin-right: 20px;
                &:last-child{
                    margin-right: none;
                }
                    
            }
            &__subtitle{
                font-size: 15px;
            }
            
            &__descr{
                font-size: 12px;
            }
        }
        .feed-form{
            display: block;
            margin: 0 auto;
            margin-top: 50px;
        }
        .title_left{
            font-size: 21px;
            text-align: center;
            width: 450px;
            margin: 0 auto;
        }
        .feed_form{
            display: block;
            margin: 0 auto;
        }
        .consultation{
            background-position: right 30% center;
            &__descr{
                margin: 0 auto;
                text-align: center;
                padding-top: 35px;
            }
            input{
                display: block;
                width: 250px;
                margin:0 auto;
                margin-top: 20px;
            }
        .button_submit{
                display: block;
              width: 250px; 
              margin: 0 auto; 
        }  
        }
    }   
    @media(max-width:576px){
        .container {
            max-width: 520px;
            margin: 0 auto;
            padding: 0 30px;
        }
        .button{
            &_main{
                width: 160px;
            }
        
        }
        .promo{
            &__header{
                font-size: 35px;
                text-align: left;
        
            &__phone{
                 margin-top: 20px;
             }
            &__wrapper>div{
                display: flex;
                justify-content: center;
                width: 33%;
                
                &:nth-child(3){
                    display: flex;
                    justify-content: flex-end;
                }
            }
            &__link{
                font-size:12px
                }
            }
        }
        .advantages{
            margin-top: 25px;
            &__wrapper{
            margin-top: 25px;
            display: flex;
            flex-wrap:wrap;
            flex-direction: column;	
            align-items: center;
            }
            &__item{
                margin-top: 30px;
                :first-child{
                margin-top: 0;
                }
                
            }
        } 
    } 
    @media(max-width:576px){
        .button-submit{
            margin: 0 auto;
        }
        .promo{
            background-position: -150px;   
           &__header{
               margin-top: 70px;
           }
            &__icons{
                justify-content:center;
    
            }
            &__subheader{
                font-size: 16px;
                text-align: left;
            }
        } 
        .title_left{
            font-size: 22px;
        }
    }
    @media(max-width:480px){
        .container{
            padding: 0 10px;
        }
        h2.title{
            width: 250px;
            font-size: 15px;
            text-align: center;
        }
        .button-invisible{
            display: none;
        }
        .button{
            width: 115px;
            height: 35px;
            font-size: 10px;
        }
        .button_submit{
        margin: 0 auto;
        }
         .title{
             font-size: 22px;
             margin: 0 auto;
         }
         .header{
             margin-left: 20px;
             font-size: 28px;
             margin-top: 20px;
              &__logo{
                     width: 50%;
                 }
             &__official{
                span{
                    font-size: 12px;
                }
             }
             &__phone{
                 font-size: 12px;
             }           
         }
         .promo{
             background-position: left 5% bottom;
             height: 80%;
             &__link{
            font-size: 10px;
             }
           
             a{
                font-size: 10px;
             }
             
             &__icon{
                 font-size: 10px;
                 width: 95px;
             }
             &__wrapper{
                 margin-top: 20px;
             }
             &__header{
                 font-size: 20px;
             }
             &__subheader{
                 font-size: 12px;
             }
         }
         .advantages{
             &__wrapper{
                 margin-top: 32px;
             }
         }
    
     .consultation{
        min-height: 600px;
        padding: 70px 0 40px 0px;
        &__descr{
            text-align: center;
            font-size: 14px;
            width: auto;
        }
        .feed-form{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        input{
            width: 220px;
            padding: 0 10px;
            height: 40px;
             }
        .button_submit{
        width: 220px;
        }
        }
    }